<h1>PROJECTS</h1>
<div class="projects">
    <!-- <div> -->
        <button (click)="animate()">Automation</button>
        <div [@myanimation]="state1" class="rotate">
            <img src="assets/img/robot.jpg" width="300" height="200">
            <p>Robot-framework Custom Keyword Development:
                This project is about creating custom keyword creation for gui automation using Robot-framework and Python using Selenium    
                Robot Framework is a generic open source automation framework. It can be used for test automation and robotic process automation (RPA).</p>
            <a href="https://github.com/someshugar445/Selenium_robot_Custom_Keywords">Click here</a>
        </div>
        <button (click)="animate2()">Novels Library</button>
        <div [@myanimation]="state2" class="rotate">
            <img src="assets/img/books.jpg" width="300" height="200">
            <p>Online Book Search:
                This project allows user to search books and get details of books.The details mentioned in data files are
               book title,author and link of wikipedia page.This project is built using Flask.
                Flask is a micro web framework written in Python.Please click on the below link to check for demo.</p>
            <a href="https://my-book-search-engine.herokuapp.com/">Click here</a>
        </div>
        <button (click)="animate3()">Resume builder</button>
        <div [@myanimation]="state3" class="rotate">
            <img src="assets/img/resume.jpg" width="300" height="200">
            <p>Online Resume Builder: Build your resume online
                and land your dream job!!! The perfect resume should detail out all your professional positions. This project gives the user a sample ready made resume template.
                Your resume will finally show your potential. Personalize dozens of resume templates.</p>
            <a href="https://my-resume-builder-app.herokuapp.com/">Click here</a>
        </div>
        <div class="push"></div>
    <!-- </div> -->
</div>
<div><div class="home-ext"></div></div>