<div class="container">
  <div class="header">
    <ul>
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/about" routerLinkActive="active">About</a></li>
    </ul>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <div class="footer">
    <div>
      <h3 class="contact">Contact</h3>
      <p>someshugar@gmail.com</p>
    </div>
    <div>
      <h3 class="links">Links</h3>
      <a href="https://www.linkedin.com/in/somesh-ugar-791b28103/" style="color: white">LinkedIn</a>
    </div>
  </div>
</div>