<div class="container">
  <div class="header">
    <ul>
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/about" routerLinkActive="active">About</a></li>
    </ul>
  </div>
  <!-- <div calss="navbar">
<ul>
    <li><a href="/">HOME</a></li>
    <li><a href="/about">ABOUT ME</a></li>
</ul>
</div> -->
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <div class="footer">
    <div>
      <h5 class="text-uppercase">Contact</h5>
      <p>someshugar@gmail.com</p>
      <h5 class="text-uppercase">Links</h5>
      <div>
        <a href="https://www.linkedin.com/in/somesh-ugar-791b28103/" style="color: white">LinkedIn</a>
      </div>
    </div>
  </div>
</div>