h1{
    text-align: center;
    color: maroon;
    font-style: italic;
    display: block;
    font-size: 25px;
    padding-top: 15px;
  }
  p{
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
  }
  * {
      margin: 0;
  }
  html, body {
      height: 100%;
      background-color: yellowgreen;
  }
  .wrapper {
      min-height: 100%;
    //   height: auto !important;
      height: 100%;
    //   margin: 0 auto -142px;
      color: white;
      font-size: 20px;
      font-family: monospace;
  }
.push {
    height: 225px;
  }
