<head>
    <meta charset="utf-8">
    <title>About Me</title>
  </head>

  <body>
  <div class="wrapper">
    <h3>About Me</h3>
    <br>
      <p>Working as a Python Automation Developer and passionate about cutting-edge
        technology and solving real world problems. I am actively seeking to leverage my machine learning expertise
        in different areas.Skilled in Web Development , Agile Methodologies, Software developments using python , Mongodb , and Angular.</p>
  <div>
      <br>
    <p>Click on <strong>HOME</strong> to get all my Project Details</p>
    <br>
    <p>Please find the Contact Details given in the footer:</p>
    <br>
    <p>Click on <strong>LinkedIn</strong> to get my LinkedIn profile</p>
  </div>
    <div class="push"></div>
  </div>
  </body>