<head>
  <meta charset="utf-8">
  <title>About Me</title>
</head>

<body>
  <div class="wrapper">
    <h1>ABOUT ME</h1>
    <br>
    <p>Working as a Python Automation Developer and passionate about cutting-edge
      technology and solving real world problems. I am actively seeking to leverage my machine learning expertise
      in different areas.Skilled in Web Development ,
      Agile Methodologies, Software developments using Python , Mongodb , and Angular.</p>
   
  </div>
  <div class="push"></div>
</body>